/* .textBlock_intro{
    background: #FFFFFF;
    position: absolute;
    top:90px;
    text-align: left;
    height: 353px;
    padding: 66px;
    font-family: 'Poppins';
}
.p1{
    font-size: 58px;
    line-height: 87px;
    width: 674px;
}
.p2{
    font-size: 52px;
    line-height: 65px;
    width: 674px;
    color: #FF845E;
}
.p3{
    font-size: 20px;
    line-height: 30px;
    width: 674px;
    color: #595D6B;
}
.btn.btn-outlined{
    height: 51px;
    width:147px;
    position: absolute;
    border-radius: 50px;
    border-color: #FF845E;
    font-size: 20px;
    color:#595D6B;
   
    
}
.showReel{
    height: 592px;
    width: 592px;
    padding: 20px;
    border-radius: 50%;
    object-fit:cover;
    position: absolute;
    left:1110px;
    top: 74px;
    scale: 10%;
    z-index: 1;
    user-select: none;
}
.arc{
    position: absolute;
    height: 592px;
    left:1110px;
    top: 75px;
    z-index: 0;
    user-select: none;
}
.left{
    position: absolute;
    top: 350px;
    left: 1050px;
    user-select: none;
}
.left:hover{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
}
.right:hover{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
}
.right{
    position: absolute;
    top: 350px;
    left: 1725px;
    user-select: none;
} */

/* 
:root {
    --primary-white: #fff;
    --primary-orange: #FF845E;
    --primary-grey-blue: #595d6b;
} */


.brand_text{
    font-family: 'Poppins';
    color: var(--primary-orange) !important;

}

.text_info{
    color: var(--primary-grey-blue) !important;
}


.btn_readmore {
    position: relative;
    margin: auto;
    /* padding: 6px 12px; */
    /* height: 50px; */
    border-radius: 50px !important;
    background-color: var(--primary-white) !important;
    ;
    border-color: var(--primary-orange) !important;
    color: var(--primary-grey-blue) !important;
}

.btn_readmore:hover {
    background-color: var(--primary-orange) !important;
    border-color: var(--primary-orange) !important;
    color: var(--primary-white) !important;
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .img_reel{
    height: 25rem;
    width: 30rem;
  }