.testimonials{
    max-width: 1350px !important;
    margin: 2em auto;
    margin-bottom: 100px;
    width: calc(100vw - 60px);
}

.eventHeading {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin: 1.5em 0 1em 0em;
}

.wrapper{
    /* border: solid 3px orange; */
    /* border-radius: 10px; */
    /* border-color: orange; */
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    margin: 1em 10em 1em 10em;
}

.wrapper-2{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    /* justify-content: center; */
    /* border: solid 3px orange; */
    margin: 0 0 1em 0;
}
.wrapper-2 img{
    width: 8em;
    height: 8em;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1em;
    /* border: solid 3px orange; */
}
.wrapper-3{
    display: flex;
    flex: 1;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin: 15px; */
    /* border: solid 3px orange; */
}
.text-dec{
    font-size: 3em;
    color: gray;
}

@media (max-width: 900px) {
    .wrapper{
        margin: 1em 5em 1em 5em;
    }
}

@media (max-width: 600px) {
    .wrapper{
        margin: 0 2em 1em 2em;
    }
}

@media (max-width: 400px) {
    .wrapper{
        margin: 0 0em 1em 0em;
    }
}